.spaced-div{
    padding: 20px;
      margin: 20px; 
}



.responsive-image {
  max-width: 100%;
  height: auto;
  padding: 0px 20px 20px;
}

.image-container img{
border-radius: 10px;
}

.gap{
  height: 50px
}

.texts{
  text-align: justify
}